.nav-panel
{
    background-color:lightblue;
    color: white;
    padding: 15px;
    position: sticky;
    top:0;
    z-index: 10;
}
.nav-panel ul{
    list-style-type:none;
    margin:0;
    padding: 0;
    display: flex;
}
.nav-panel ul li{
    margin-right: 20px;
}
.nav-panel ul li a{
    text-decoration: none;
    color: white;
    font-size: 20px;
}
.nav-panel ul li a:hover{
    text-decoration: underline;
}
body
{
    background-color:azure;
}
.nav-panel ul li a img
{
    height: 20px;
}
#theme
{
    margin: 220px;
}
h1
{
    color: red;
}
